<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moneytransfer.mapper.AccountMapper">
    <update id="deposit" parameterType="com.example.moneytransfer.dto.AccountPaymentDTO" >
        UPDATE TB_ACCOUNT SET balance_amt = balance_amt + #{payment_detail.tran_amt} WHERE
            account_code = #{payment_detail.account_code} and
            balance_amt >= #{payment_detail.tran_amt} ;
    </update>


    <insert id = "createPaymentDetail" useGeneratedKeys="true"
            keyProperty="payment_detail.bank_tran_id" parameterType="com.example.moneytransfer.dto.AccountPaymentDTO">
        INSERT INTO TB_PAYMENT_DETAILS
            (tran_dtm,balance_amt,tran_amt,is_taken,payment_dest,
             account_code,
             user_code,group_code, to_account_code, to_user_code)

        VALUES (NOW(),(SELECT balance_amt FROM TB_ACCOUNT WHERE account_code = #{payment_detail.account_code}),
                #{payment_detail.tran_amt},#{payment_detail.is_taken},
                #{payment_detail.payment_dest},
                #{payment_detail.account_code},
                (SELECT user_code FROM TB_ACCOUNT WHERE account_code = #{payment_detail.account_code}),
                #{payment_detail.group_code},
                #{payment_detail.to_account_code},
                #{payment_detail.to_user_code}
                )
    </insert>

    <select id ="getBalance" resultType="int">
        SELECT balance_amt FROM TB_ACCOUNT WHERE account_code = #{account_code}
    </select>

    <select id ="getAccountList" resultType ="com.example.moneytransfer.dto.AccountDTO">
        SELECT * FROM TB_ACCOUNT WHERE user_code = #{user_code}
    </select>

    <select id ="getTransferHistory" resultType ="com.example.moneytransfer.dto.AccountDTO">
        SELECT account_code, balance_amt, user_code FROM TB_PAYMENT_DETAILS WHERE account_code = #{account_code}
    </select>

    <select id = "getAccountNum" resultType="String">

        SELECT DISTINCT(account_num) FROM TB_ACCOUNT WHERE account_code = #{account_code}
    </select>

    <select id = "getUserId" resultType ="String">
        SELECT id FROM TB_USER WHERE user_code = #{user_code}
    </select>

    <select id="getNonCalculateMemberList" resultType="Map">

        SELECT A.tran_amt, A.user_code, B.id FROM TB_PAYMENT_DETAILS AS A
        INNER JOIN TB_USER AS B ON A.user_code = B.user_code
        WHERE is_taken = 0 AND group_code IS NOT NULL
        AND group_code = #{group_code}
    </select>

    <update id="activateGroupPay">
        UPDATE TB_GROUP SET is_active = 1 WHERE group_code = #{group_code}
    </update>

    <update id="deactivateGroupPay">
        UPDATE TB_GROUP SET is_active = 0 WHERE group_code = #{group_code}
    </update>



</mapper>