<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moneytransfer.mapper.GroupMapper">

    <insert id="createGroup" useGeneratedKeys="true"
            keyProperty="group_request.group_code"
            parameterType = "com.example.moneytransfer.dto.GroupCreateDTO">
        INSERT INTO TB_GROUP
        (group_name,headcount)
        VALUES (
        #{group_request.group_name},
        #{group_request.headcount}
        );

    </insert>


    <insert id="addMembers" parameterType = "java.util.List">

        INSERT INTO TB_USER_has_TB_GROUP
        (user_code,group_code)
        VALUES

        <foreach collection="user_list" item="item" separator=",">
            (#{item.user_code}, #{group_code})
        </foreach>
    </insert>


    <update id="editGroupName" >
        UPDATE TB_GROUP SET group_name = #{group_name} WHERE
        group_code = #{group_code}
    </update>

    <select id="getGroupList" resultType="com.example.moneytransfer.dto.Group">
        SELECT group_code, group_name FROM
        TB_GROUP WHERE group_code in
        (SELECT group_code AS group_code FROM TB_USER_has_TB_GROUP
                 WHERE user_code = #{user_code})
    </select>

    <delete id="leaveGroup">

        DELETE FROM TB_USER_has_TB_GROUP WHERE user_code = #{user_code} AND
                                               group_code = #{group_code}
    </delete>

    <select id="getGroupHeadCount" resultType="int">

        SELECT COUNT(user_code) FROM TB_USER_has_TB_GROUP
        WHERE group_code = #{group_code}
    </select>

    <delete id="deleteGroup">
        DELETE FROM TB_GROUP WHERE group_code = #{group_code}
    </delete>


</mapper>