<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moneytransfer.mapper.UserMapper">
    <select id="getUserInfo" resultType="com.example.moneytransfer.dto.User">
        SELECT * FROM TB_USER WHERE user_code = #{user_code};
    </select>


    <insert id="signUp" parameterType = "com.example.moneytransfer.dto.User" useGeneratedKeys="true" keyProperty="user_code">
        INSERT INTO TB_USER
        (id,password,phone_num, createdAt, updatedAt)
        VALUES (
                #{user.id},
                #{user.password},
                #{user.phone_num},
                NOW(),
                NOW()
            )

    </insert>

    <select id="getUserList" resultType="com.example.moneytransfer.dto.UserListDTO">
        SELECT user_code, id FROM
            TB_USER;
    </select>

    <select id ="login" resultType ="int">
        SELECT user_code FROM TB_USER WHERE id = #{id} AND password = #{password}
    </select>

    <select id ="getAccountList" resultType ="com.example.moneytransfer.dto.AccountDTO">
        SELECT * FROM TB_ACCOUNT WHERE user_code = #{user_code}
    </select>

    <select id ="getIdByCode" resultType ="String">
        SELECT id FROM TB_USER WHERE user_code = #{user_code}
    </select>

    <update id = "editUserInfo" parameterType="com.example.moneytransfer.dto.User">

        UPDATE TB_USER SET id = #{user.id}, password = #{user.password}
        WHERE user_code = #{user.user_code}
    </update>


</mapper>


